body{
    color: red ;
    background: rgb(41, 5, 241);
    
    }
.tit{
        color: rgb(7, 6, 6) ;
        background: rgb(255, 84, 4);
    }

.imagem{
         text-align: center;
    
}